# Ambiente virtuale
venv/
ENV/
env/
.venv/

# Python cache & compilati
__pycache__/
*.py[cod]
*$py.class

# Log & temp
*.log
*.tmp
*.err
*.gz
*.swp

# Config locali / segreti
*.env
HM_notifier.env
HM_notifier.service
*.mp4
config.json

# Backup & roba editor
*.bak
*.old
*.save
.vscode/
.idea/
